pipeline/Incremental_pipeline.json
{
	"name": "Incremental_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Azsql_AZadls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_modified_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.Schema}.@{pipeline().parameters.table} WHERE @{pipeline().parameters.column} > activity('last_modified_date').output.value",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SQL_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "last_modified_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": null,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "date_json",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze",
							"folder": "cdc",
							"file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"column": {
				"type": "string"
			}
		},
		"annotations": []
	}
}